---
import { readAndValidateYaml, resolveDataPath } from '@skyreach/data';
import {
  type EncounterTableData,
  EncounterTableSchema,
} from '@skyreach/schemas';

import { buildWeightedRanges } from '../../utils/encounters';

import CategoryContainer from './CategoryContainer.astro';

interface Props {
  data?: EncounterTableData;
}

// Load default encounter table
const encounterTablePath = resolveDataPath('default-encounter-table.yaml');
const defaultEncounterTable = readAndValidateYaml(
  encounterTablePath,
  EncounterTableSchema,
);

const { data = defaultEncounterTable } = Astro.props;

const mainRolls = buildWeightedRanges(data.mainTable, (e) => e.weight ?? 1);
---

<style is:global>
  table {
    border-spacing: 0;
    margin-top: 1rem;
  }
  td,
  th {
    border-bottom: 1px solid var(--bulma-border);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  th {
    border-top: 1px solid var(--bulma-border);
  }

  .col-1 {
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center !important;
  }
  .col-2 {
    padding-right: 1rem;
    text-align: left !important;
  }
  .col-3 {
    padding-right: 1rem;
    text-align: center !important;
  }
</style>

<table class="encounter-table">
  <thead>
    <tr>
      <th class="col-1">Roll</th>
      <th class="col-2">Category</th>
      <th class="col-3">Probability</th>
    </tr>
  </thead>
  <tbody>
    {
      mainRolls.map(({ range, entry }) => (
        <tr>
          <td class="col-1">{range}</td>
          <td class="col-2">{entry.label}</td>
          <td class="col-3">
            {(((entry.weight ?? 1) / 20) * 100).toFixed(1)}%
          </td>
        </tr>
      ))
    }
  </tbody>
</table>
{
  Object.entries(structuredClone(data.categoryTables))
    .sort(([a], [b]) => a.localeCompare(b))
    .map(([category, table]) => {
      const categoryData = data.mainTable.find((c) => c.category === category);
      if (!categoryData) {
        return null;
      }
      return (
        <CategoryContainer
          label={categoryData.label}
          table={table}
          weight={categoryData.weight ?? 1}
        />
      );
    })
}
