---
import GmHexDetails from '../../../../components/HexData/GmHexDetails.astro';
import SecretLayout from '../../../../layouts/SecretLayout.astro';
import { getRegionTitle } from '../../../../utils/id-parsers';
import { getHexEntriesForRegion } from '../../../../utils/region-hex-mapper';
import { hexSort } from '../../../../utils/sort';

const { id: regionId } = Astro.params;
if (!regionId) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found'
  });
}

const allHexes = await getHexEntriesForRegion(regionId)
const hexData = allHexes
  .filter(hex => !!hex)
  .sort((a, b) => hexSort(a.data, b.data));
---
<SecretLayout title={`${getRegionTitle(regionId)} Hexes`}>
  {hexData.map((hex) => (
    <h2 class="title is-3">{hex.id.toUpperCase()}: {hex.data.name}</h2>
    <GmHexDetails hex={hex.data} />
  ))}
</SecretLayout>
