---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Baruun Khil">
  <p>
    Understand what life is like in <a href="/setting/western-frontier">Baruun Khil</a>, the western frontier you're exploring. See how much of <a href="/setting/baruun-khil-map">the frontier</a> has been explored.

  </p>
</IndexCard>
