---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Characters">
  <p>
    Review a chronicle of <a href="/characters">heroic characters</a> operating out of Fort Dagaric.
  </p>
</IndexCard>
