---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Class">
  <p>
    Explore <a href="characters/classes">Playable Classes and Subclasses</a> to find your adventurer&rsquo;s path.
  </p>
</IndexCard>
