---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Class">
  <p>
    Check out <a href="characters/classes">Playable Classes and Subclasses</a> to select your character&rsquo;s class.
  </p>
</IndexCard>
