---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Clues">
  <p>
    Browse a collection of cryptic clues, both <a href="gm-notes/floating-clues/">floating clues</a> and <a href="gm-notes/fixed-clues/">fixed clues</a>.
  </p>
</IndexCard>
