---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Dungeons">
  <p>
    Delve into the <a href="/dungeons">dungeons</a> of Baruun Khil and <a href="/gm-notes/scaling-encounters">scale encounters</a> to the party's size and level.
  </p>
</IndexCard>
