---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Encounters">
  <p>
    Here is an enumeration of <a href="/encounters">encounters</a> that may befall the heroes.
  </p>
</IndexCard>
