---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Encounters">
  <p>
    Here is an enumeration of <a href="/encounters">encounters</a> that may befall the heroes and <a href="/gm-notes/scaling-encounters">a template for scaling them</a> to the party's size and level.
  </p>
</IndexCard>
