---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Factions">
  <p>
    Review a <a href="/gm-notes/factions">folio of factions</a> that forge fortunes and foment feuds, plus the <a href="/gm-notes/vaulridge-nobility">Nobility of Vaulridge</a>.
  </p>
</IndexCard>
