---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Factions">
  <p>
    Here is a <a href="/gm-notes/factions">folio of factions</a> that forge fortunes and foment feuds.
  </p>
</IndexCard>
