---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Floating Clues">
  <p>
    See a list of <a href="gm-notes/floating-clues/">clues</a> that you can insert anywhere.
  </p>
</IndexCard>
