---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Maps">
  <p>
    Peruse a variety of fascinating <a href="gm-notes/maps/">maps</a>, including the <a href="/gm-notes/kobold-caves">kobold cave network</a>.
  </p>
</IndexCard>
