---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Heritage">
  <p>
    Check out <a href="/characters/ancestries-and-cultures">Ancestries and Cultures</a> to choose your character&rsquo;s heritage.
  </p>
</IndexCard>
