---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="House Rules">
  <p>
    Explore the <a href="/rules/house-rules">house rules</a>, designed to balance gameplay and bring our world to life.
  </p>
</IndexCard>
