---
const { title } = Astro.props;
---
<style>
    h2.title.is-3 {
        margin-top: 0;
        margin-bottom: 0.25rem;
        text-align: center;
    }

    .box {
        text-align: center;
    }
</style>
<div class="box">
  <h2 class="title is-3">{title}</h2>
  <slot />
</div>
