---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Known World">
  <p>
    Learn about the <a href="/setting/known-world">Known World</a>, whence you hail, including the <a href="/setting/vaulridge-nobility">nobility of Vaulridge</a>.
  </p>
</IndexCard>
