---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Level Up">
  <p>
    Unlock new abilities and build your legend with the <a href="/players-guide/advancement">Advancement Rules</a>. Track your progress on the <a href="/players-reference/progress">Character Progress</a> page.
  </p>
</IndexCard>
