---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Maps">
  <p>
    See how much of <a href="/setting/baruun-khil-map">Baruun Khil</a> has been explored by the heroes.
  </p>
</IndexCard>
