---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Regions">
  <p>
    Browse the inventory of the <a href="/regions">map regions</a>. Each region includes links to its individual <a href="/hexes">hexes</a>.
  </p>
</IndexCard>
