---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Rumors">
  <p>
    View an assortment of <a href="gm-notes/rumors/">rumors</a> that the heroes might overhear at Fort Dagaric or another haven of civilization.
  </p>
</IndexCard>
