---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Setting">
  <p>
    Learn about the <a href="/setting/known-world">Known World</a>, whence you hail, and <a href="/setting/western-frontier">Baruun Khil, the western frontier</a> where you&rsquo;re headed.
  </p>
</IndexCard>
