---
import IndexCard from './IndexCard.astro';
---
<IndexCard title="Supplements">
  <p>
    Discover the <a href="/rules/supplements">third-party supplements</a> we use to expand options and enrich our gameplay.
  </p>
</IndexCard>
