---
import { canAccess, getCurrentUserRole } from '../../utils/auth';
import { SCOPES } from '../../utils/constants';
import { formatText } from '../../utils/text';
import type { HexData } from '../../types';

interface Props {
  hex: HexData;
}

const { hex } = Astro.props;

const { hiddenSites = [] } = hex;

const role = getCurrentUserRole(Astro.locals);

// If you're a GM, and there are no hidden sites, return null
if (canAccess(role, [SCOPES.GM]) && hiddenSites.length === 0) {
  return null;
}

// If you're public or player, and the hex is not explored, return null
if (canAccess(role, [SCOPES.PLAYER, SCOPES.PUBLIC]) && !hex.isExplored) {
  return null;
}
---
<style>
    ul {
        margin-top: 0;
    }
</style>

{hiddenSites.length === 1 ? (
  <div class="hanging-indent"><span class="inline-heading">Hidden Site:</span>{' '}{formatText(hiddenSites[0])}</div>
) : (
  <div>
    <span class="inline-heading keep-with-next">Hidden Sites:</span>
  </div>
  <ul>
    {hiddenSites.map((site: string) => <li>{formatText(site)}</li>)}
  </ul>
)}
