---
interface Props {
  hiddenSites?: string[];
}

const { hiddenSites = [] } = Astro.props;

if (hiddenSites.length === 0) {
  return null;
}
---
<style>
    p {
        margin-left: var(--skyreach-standard-indent);
        text-indent: calc(-1 * var(--skyreach-standard-indent));
        margin-bottom: 0;
        margin-top: 0;
    }

    ul {
        margin-top: 0;
    }
</style>

{hiddenSites.length === 1 ? (
  <p><span class="inline-heading">Hidden Site:</span>{' '}{hiddenSites[0]}</p>
) : (
  <p>
    <span class="inline-heading keep-with-next">Hidden Sites:</span>
  </p>
  <ul>
    {hiddenSites.map((site: string) => <li>{site}</li>)}
  </ul>
)}
