---
interface Props {
  hiddenSites?: string[];
}

const { hiddenSites = [] } = Astro.props;

if (hiddenSites.length === 0) {
  return null;
}
---
<style>
    ul {
        margin-top: 0;
    }
</style>

{hiddenSites.length === 1 ? (
  <div><span class="inline-heading">Hidden Site:</span>{' '}{hiddenSites[0]}</div>
) : (
  <div>
    <span class="inline-heading keep-with-next">Hidden Sites:</span>
  </div>
  <ul>
    {hiddenSites.map((site: string) => <li>{site}</li>)}
  </ul>
)}
