---
import type { HexData } from '../../types';
import { formatText } from '../../utils/text';
import { canAccess, getCurrentUserRole } from '../../utils/auth';
import { SCOPES } from '../../utils/constants';

interface Props {
  hex: HexData;
}

const { hex } = Astro.props;

const role = getCurrentUserRole(Astro.locals);
if (canAccess(role, [SCOPES.PLAYER, SCOPES.PUBLIC]) && !hex.isVisited) {
  return null;
}
---
<div class="hanging-indent">
  <span class="inline-heading">Landmark:</span>{' '}
  {formatText(hex.landmark)}
</div>
