---
import { icon, library } from '@fortawesome/fontawesome-svg-core';
import { faSquare, faSquareCheck } from '@fortawesome/pro-light-svg-icons';
import type { HexData } from '../../types';

interface Props {
  hex: HexData;
}

const { hex } = Astro.props;

library.add(faSquare, faSquareCheck);
const squareIcon = icon(faSquare);
const squareCheckIcon = icon(faSquareCheck);
const visitedIcon = hex.isVisited ? squareCheckIcon : squareIcon;
---
<div>
  Visited:{' '}<Fragment set:html={visitedIcon.html} />
</div>
