---
import { getEntry } from 'astro:content';

interface Props {
  rumorId: string;
}

const { rumorId } = Astro.props;

const rumorEntry = await getEntry('rumors', rumorId);
if (!rumorEntry) {
  throw new Error(`Rumor with ID ${rumorId} not found`);
}
---

<style>
  .unavailable {
    text-decoration: line-through;
  }
</style>
<a
  class:list={{ unavailable: !(rumorEntry.data.isAvailable ?? true) }}
  href={`/session-toolkit/rumors/${rumorId}`}
>
  {rumorEntry.data.title}
</a>
