---
import type { StatBlockData } from '../../types';
import Action from './Action.astro';

interface Props {
  actions: StatBlockData['actions'];
}

const { actions } = Astro.props;
---
<style>
    h3 {
        font-size: 1.25rem;
        font-weight: bold;
    }
</style>
<h3>Actions</h3>
{actions.map((action) => (
  <Action action={action} />
))}
