---
import type { StatBlockData } from '../../types';

interface Props {
  data: StatBlockData;
}

const { data } = Astro.props;
---

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.25rem;
  }

  span {
    font-weight: bold;
  }
</style>
<div class="container">
  <div>
    <span>Challenge:</span>
    {' '}
    {data.challenge_rating}
  </div>
  <div>
    <span>Proficiency Bonus:</span>
    +{data.proficiency_bonus}
  </div>
</div>
