---
import type { StatBlockData } from '@skyreach/schemas';

interface Props {
  data: StatBlockData;
}

const { data } = Astro.props;
---

<style></style>
{
  data.damage_resistances && (
    <div>
      <span class="inline-heading">Damage Resistances:</span>{' '}
      {data.damage_resistances}
    </div>
  )
}
{
  data.damage_immunities && (
    <div>
      <span class="inline-heading">Damage Immunities:</span>{' '}
      {data.damage_immunities}
    </div>
  )
}
{
  data.condition_immunities && (
    <div>
      <span class="inline-heading">Condition Immunities:</span>{' '}
      {data.condition_immunities}
    </div>
  )
}
