---
import type { StatBlockData } from '../../types';

interface Props {
  specialAbilities: StatBlockData['special_abilities'];
}

const { specialAbilities } = Astro.props;
if (!specialAbilities || specialAbilities.length === 0) {
  return null;
}
---
<style>
    h3 {
        font-size: 1.25rem;
        font-weight: bold;
        page-break-after: avoid;
    }

    .trait-name {
        font-style: italic;
        font-weight: bold;
    }
</style>
<h3>Traits</h3>
{specialAbilities.map((trait) => (
<div>
  <span class="trait-name">{trait.name}.</span>
  {' '}
  <span class="trait-description">{trait.desc}</span>
</div>
  ))}
