---
import type { StatBlockData } from '../../types';

interface Props {
  specialAbilities: StatBlockData['special_abilities'];
}

const { specialAbilities } = Astro.props;
---
<h3>Traits</h3>
{specialAbilities.map((trait) => (
  <div>
    <span class="label">{trait.name}.</span>
    {' '}
    <span class="value">{trait.desc}</span>
  </div>
))}
