---
import { getCollection } from 'astro:content';

import RumorDetail from '../../../components/RumorDetail.astro';
import SecretLayout from '../../../layouts/SecretLayout.astro';

const rumorsData = await getCollection('rumors');
const rumors = rumorsData
  .map((rumor) => rumor.data)
  .sort((a, b) => a.title.localeCompare(b.title));
---

<SecretLayout title="Rumors">
  {
    rumors.map((rumor) => (
      <>
        <h2 class="title is-3">{rumor.title}</h2>
        <RumorDetail rumor={rumor} isSubcomponent={true} />
      </>
    ))
  }
</SecretLayout>
