p {
    text-indent: var(--skyreach-standard-indent);
}

p:first-child,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
    text-indent: 0;
}

h2.title.is-3,
h3.title.is-4,
h4.title.is-5,
h5.title.is-6,
h6.title.is-7 {
    margin-bottom: var(--skyreach-heading-margin-bottom);
}
