html {
    text-wrap: pretty;
    orphans: 2;
    widows: 2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Souvenir", serif;
    margin-top: 1rem;
    margin-bottom: 0.125rem;
}

h1 {
    margin-top: 0;
    text-align: center;
}

p {
    margin-left: 1rem;
    text-indent: -1rem;
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    padding-inline-start: 2rem;

    li {
        padding-left: 0;
        text-indent: 0;
    }
}

.inline-heading {
    font-weight: bold;
}

/* Declare a custom CSS class to make the icon look right */
.svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
    display: inline-block;
    height: 1em;
    vertical-align: -0.125em;
}

@media print {
    @page {
        size: letter portrait;
        margin: 0.5in;
    }

    body {
        font-size: 12pt;
        hyphens: auto;
        line-height: 1.15;
    }

    h1 {
        font-size: 36pt;
        margin-bottom: 12pt;
    }

    h2 {
        font-size: 15pt;
        margin-bottom: 6pt;
        page-break-after: avoid;
    }

    .keep-with-next {
        page-break-after: avoid;
    }
}
