---
import { renderMarkdown } from '../../utils/markdown';

import type { LootPackData } from '@skyreach/schemas';

interface Props {
  treasure: LootPackData;
}

const { treasure } = Astro.props;
---

<div><Fragment set:html={renderMarkdown(treasure.description)} /></div>
<div><Fragment set:html={renderMarkdown(treasure.treasure)} /></div>
