---
import ComponentLayout from '../../../layouts/ComponentLayout.astro';

const title = 'The Known World';
---

<style>
  img {
    margin-bottom: 1.5rem;
  }
</style>
<ComponentLayout title={title}>
  <img src="/images/maps/known-world.png" alt="Map of the Known World" />

  <p>
    The Known World is just that, the part of the world that we know. There are
    undoubtedly other parts of the world, but we have no way to reach them, no
    contact with them, and no trade. The Known World is bounded in the west by
    the Skyreach Mountains, in the north by the frozen steppe of Tal Kheer, and
    in the west by the Aeluin Vale and the Zalkhuutai Desert. The Dolgion Sea
    forms the southern edge of the subcontinent. The Known World is centered
    around the lush Gol River Valley. It also includes the Vaulridge Plains and
    the Riviera.
  </p>

  <h2 class="title is-3">Aleuin Vale</h2>
  <p>The Aleuin Vale is home to the wood elves.</p>

  <h2 class="title is-3">Dolgion Sea</h2>
  <p>The Dolgion Sea is a large body of water.</p>

  <h2 class="title is-3">Gol River Valley</h2>
  <p>
    The Gol River runs from Tal Kheer in the north to the Dolgion Sea in the
    south. The Gol River Valley is the most fertile region in the Known World
    and the center of culture and civilization.
  </p>

  <h2 class="title is-3">Riviera</h2>
  <p>
    The Riveria is the coastal region between the Gol River Valley and the
    Skyreach Mountains. It is home to humans and spindrift dwarves.
  </p>

  <h2 class="title is-3">Skyreach Mountains</h2>
  <p>
    The Skyreach Mountains form an impassable barrier between the Known World
    and the unknown lands to the west, known as the western frontier or "Baruun
    Khil" in the old tongue of the giants.
  </p>

  <h2 class="title is-3">Tal Kheer</h2>
  <p>Tal Kheer is the frozen steppe to the north of the Gol River Valley.</p>

  <h2 class="title is-3">Vaulridge Plains</h2>
  <p>
    The Plains of Vaulridge are a dry grassland located between the Gol River
    Valley and the Skyreach Mountains, with Tal Kheer to the north and Riviera
    to the south. It is populated by many farming villages, with trade centered
    along its two main rivers. Most, if not all, of the villages fall under the
    domain of the Kingdom of Vaulridge, either directly or indirectly.
  </p>

  <h2 class="title is-3">Zalkhuutai Desert</h2>
  <p>
    The Zalkhuutai Desert is a vast wasteland to the east of the Gol River
    Valley. It is home to the nomadic elves known as dunewalkers.
  </p>
</ComponentLayout>
