---
import type { DungeonEntry, HexEntry } from '../../types';
import type { RegionData } from '@skyreach/schemas';

interface Props {
  dungeons: DungeonEntry[];
  hexData: HexEntry[];
  hexCount: number;
  region: RegionData;
}

const { dungeons, hexData, hexCount, region } = Astro.props;

const contentDensityDescriptions = {
  1: 'Very Low (0.1–0.2 hidden sites/hex, 0–1 dungeons)',
  2: 'Low (0.2–0.3 hidden sites/hex, 1 dungeon)',
  3: 'Moderate (0.3–0.5 hidden sites/hex, 1–2 dungeons)',
  4: 'High (0.5–0.7 hidden sites/hex, 2–3 dungeons)',
  5: 'Very High (0.7–1.0+ hidden sites/hex, 3–5 dungeons)',
} as const;

const dungeonCount = dungeons.filter((dungeon) => {
  const hex = hexData.find((hex) => hex.data.id === dungeon.data.hexId);
  return hex && hex.data.regionId === region.id;
}).length;

const hiddenSiteCount = hexData
  .filter((hex) => hex.data.regionId === region.id)
  .reduce((acc, hex) => acc + (hex.data.hiddenSites?.length || 0), 0);

const hiddenSiteDensity = (hiddenSiteCount / hexCount).toFixed(2);
---

<p class="hanging-indent">
  <span class="inline-heading">Content Density:</span>{' '}
  {region.contentDensity} – {
    contentDensityDescriptions[region.contentDensity as 1 | 2 | 3 | 4 | 5]
  }
</p>
<p class="hanging-indent">
  <span class="inline-heading">Hidden site density:{' '}</span>
  {hiddenSiteDensity} per hex ({hiddenSiteCount} total)
</p>
<p class="hanging-indent">
  <span class="inline-heading">Number of dungeons:{' '}</span>
  {dungeonCount}
</p>
