---
import { getCollection } from 'astro:content';
import ComponentLayout from '../../layouts/ComponentLayout.astro';

const charactersData = await getCollection('characters');
const characters = charactersData
  .map((character) => character.data)
  .sort((a, b) => a.displayName.localeCompare(b.displayName));
---
<style>
    .all-link {
        margin-top: 1rem;
    }

    .list-container {
        columns: 2;
    }
</style>
<ComponentLayout title="Characters">
  <div>
    <h2 class="title is-3">Dramatis Personae</h2>
    <div class="list-container">
      <ul>
        {characters.map((character) => (
          <li>
            <a href={`/characters/${character.id}`}>{character.fullName}</a>
          </li>
        ))}
      </ul>
    </div>
    <p class="all-link">View <a href="/characters/all">all characters</a> on one page.</p>
  </div>
  <div>
    <h2 class="title is-3">Articles in This Section</h2>
      <div class="list-container">
        <ul>
          <li><a href="/characters/ancestries-and-cultures">Ancestries and Cultures</a></li>
          <li><a href="/characters/advancement">Character Advancement</a></li>
          <li><a href="/characters/character-goals">Character Goals</a></li>
          <li><a href="/characters/classes">Playable Classes and Subclasses</a></li>
        </ul>
      </div>
    </div>
</ComponentLayout>
