---
import Card from '../Card.astro';
---

<Card title="Class" gridItem={false}>
  <p>
    Visit <a href="characters/classes">Playable Classes and Subclasses</a> to find
    your adventurer&rsquo;s path.
  </p>
</Card>
