---
import IndexCard from './IndexCard.astro';
import SideMenuButton from './SideMenuButton.svelte';
---

<IndexCard title="Explore">
  <p>
    Ready for more? Open the <SideMenuButton client:load /> to explore our content.
  </p>
</IndexCard>
