---
import Card from '../Card.astro';

import SideMenuButton from './SideMenuButton.svelte';
---

<Card title="Explore" gridItem={false}>
  <p>
    Ready for more? Open the <SideMenuButton client:load /> to explore our content.
  </p>
</Card>
