---
import IndexCard from './IndexCard.astro';
---

<IndexCard title="Goals">
  <p>
    You can set <a href="characters/character-goals">Goals</a> for your character
    either before selecting their heritage and class or after.
  </p>
</IndexCard>
