---
import Card from '../Card.astro';
---

<Card title="Level Up" gridItem={false}>
  <p>
    Unlock new abilities and build your legend with the <a
      href="/players-guide/advancement">Advancement Rules</a
    >. Track your progress on the <a href="/players-reference/progress"
      >Character Progress</a
    > page.
  </p>
</Card>
