---
import { getCollection } from 'astro:content';

import Hex from '../components/Hex.astro';
import Layout from '../layouts/Layout.astro';
import { getHexColumn, getHexRow } from '../utils/id-parsers';

const hexData = await getCollection('hexes');
const hexes = hexData
  .sort((a, b) => {
    const aCol = getHexColumn(a.id);
    const aRow = getHexRow(a.id);
    const bCol = getHexColumn(b.id);
    const bRow = getHexRow(b.id);
    if (aCol === bCol) {
      return aRow - bRow;
    } else {
      return aCol.localeCompare(bCol);
    }
  })
  .filter((hex) => !hex.data.hideInCatalog);
const title = 'Baruun Khil Hex Catalog';
---
<style>
    @media print {
        main {
            columns: 2;
            column-fill: auto;
        }
    }
</style>

<Layout title={title}>
  <h1>{title}</h1>
  <main>
    {
      hexes.map((entry) =>
        <Hex hex={entry.data} />)
    }
  </main>
</Layout>
