---
import Layout from '../layouts/Layout.astro';

const title = 'Beyond the Skyreach Mountains';
---
<style>
    h2 {
        margin-top: 0;
        margin-bottom: 0.125rem;
        text-align: center;
    }
</style>
<Layout title={title}>
  <section class="section">
    <div class="container is-max-desktop">
      <h1 class="title is-2">{title}</h1>
      <div class="columns">
        <div class="column is-one-third">
          <div class="box">
            <h2 class="title is-3">Hex Catalog</h2>
            <p>
              You can browse the <a href="/hex-catalog">Hex Catalog</a>. Someday I'll add a list of hexes by region.
            </p>
          </div>
          <div class="box">
            <h2 class="title is-3">GM&rsquo;s Notes</h2>
            <p>
              If you're the GM, you can view
              <a href="gm-notes/first-civ-clues">Clues about the First Civilization</a>
              or
              <a href="gm-notes/fort-dagaric-rumors">Rumors overheard at Fort Dagaric</a>.
            </p>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="box">
            <h2 class="title is-3">Regions</h2>
            <p>
              You can view <a href="/regions">the list of regions</a>.
            </p>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="box">
            <h2 class="title is-3">NPCs</h2>
            <p>
              There are also <a href="/npcs">NPCs</a> for your viewing pleasure.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
