---
import SecretContent from '../components/Content/SecretContent.astro';
import ClassCard from '../components/IndexCards/ClassCard.astro';
import EncountersCard from '../components/IndexCards/EncountersCard.astro';
import FactionsCard from '../components/IndexCards/FactionsCard.astro';
import FloatingCluesCard from '../components/IndexCards/FloatingCluesCard.astro';
import GmMapsCard from '../components/IndexCards/GmMapsCard.astro';
import GoalsCard from '../components/IndexCards/GoalsCard.astro';
import HeritageCard from '../components/IndexCards/HeritageCard.astro';
import HouseRules from '../components/IndexCards/HouseRules.astro';
import LevelUpCard from '../components/IndexCards/LevelUpCard.astro';
import MapsCard from '../components/IndexCards/MapsCard.astro';
import NpcsCard from '../components/IndexCards/NpcsCard.astro';
import RegionsCard from '../components/IndexCards/RegionsCard.astro';
import RumorsCard from '../components/IndexCards/RumorsCard.astro';
import SessionCard from '../components/IndexCards/SessionCard.astro';
import SettingCard from '../components/IndexCards/SettingCard.astro';
import SupplementsCard from '../components/IndexCards/SupplementsCard.astro';
import MediumScreen from '../components/ScreenSize/MediumScreen.astro';
import SmallScreen from '../components/ScreenSize/SmallScreen.astro';
import ComponentLayout from '../layouts/ComponentLayout.astro';

const title = 'Beyond the Skyreach Mountains';
---
<style>
    h2.title.is-3 {
        text-align: center;
    }

    .welcome-text {
        margin: 0 auto 2rem;
        max-width: 48rem; // 768px
    }

    .welcome-text > p {
        margin-bottom: 1rem;
        text-align: justify;
    }
</style>
<ComponentLayout title={title}>
  <section class="welcome-text">
    <p>
      The Crown Prince has done the impossible: a road now traverses the
      once-impassable mountains at the western edge of the kingdom, opening
      a gateway to a mysterious and unexplored land. Known only as the
      &ldquo;western frontier,&rdquo; this vast and enigmatic wilderness is filled with
      towering trees, hidden glades, and shadowed depths. Rumors of ancient
      treasures and bizarre creatures spread quickly across the Known World,
      drawing the bold and the brave to answer the prince&rsquo;s call for
      adventurers.
    </p>
    <p>
      But be warned&mdash;the western frontier is no mere backwater. By day,
      it may seem like a land of promise, ripe for exploration and riches.
      By night, however, strange dangers stir beneath the boughs. While
      some who brave the darkness return with tales of terror, others are
      not so lucky. On occasion, adventurers disappear without a trace, or
      worse&mdash;they come back changed, haunted by something unseen, their
      minds never quite the same. Will you rise to the challenge and uncover
      the secrets of the forest? Or will the frontier claim you as one more
      lost soul? The call has gone out. The road is open. Will you step into
      the unknown?
    </p>
  </section>
  <SmallScreen>
    <h2 class="title is-3">Ready to get started?</h2>
    <section class="columns">
      <div class="column is-one-third">
        <HeritageCard />
        <ClassCard />
        <GoalsCard />
        <LevelUpCard />
      </div>
    </section>
    <h2 class="title is-3">Player&rsquo;s Reference</h2>
    <section class="columns">
      <div class="column is-one-third">
        <SettingCard />
        <HouseRules />
        <NpcsCard />
        <MapsCard />
        <SupplementsCard />
      </div>
    </section>
    <SecretContent>
      <h2 class="title is-3">GM&rsquo;s Reference</h2>
      <section class="columns">
        <div class="column is-one-third">
          <RegionsCard />
          <FloatingCluesCard />
          <RumorsCard />
          <EncountersCard />
          <GmMapsCard />
          <FactionsCard />
          <SessionCard />
        </div>
      </section>
    </SecretContent>
  </SmallScreen>
  <MediumScreen>
    <h2 class="title is-3">Ready to get started?</h2>
    <section class="columns">
      <div class="column is-one-third">
        <HeritageCard />
        <LevelUpCard />
      </div>
      <div class="column is-one-third">
        <ClassCard />
      </div>
      <div class="column is-one-third">
        <GoalsCard />
      </div>
    </section>
    <h2 class="title is-3">Player&rsquo;s Reference</h2>
    <section class="columns">
      <div class="column is-one-third">
        <SettingCard />
        <MapsCard />
      </div>
      <div class="column is-one-third">
        <HouseRules />
        <SupplementsCard />
      </div>
      <div class="column is-one-third">
        <NpcsCard />
      </div>
    </section>
    <SecretContent>
      <h2 class="title is-3">GM&rsquo;s Reference</h2>
      <section class="columns">
        <div class="column is-one-third">
          <RegionsCard />
          <EncountersCard />
          <SessionCard />
        </div>
        <div class="column is-one-third">
          <FloatingCluesCard />
          <GmMapsCard />
        </div>
        <div class="column is-one-third">
          <RumorsCard />
          <FactionsCard />
        </div>
      </section>
    </SecretContent>
  </MediumScreen>
</ComponentLayout>
