---
import ComponentLayout from '../layouts/ComponentLayout.astro';
import RestrictedContent from '../components/RestrictedContent.astro';

const title = 'Beyond the Skyreach Mountains';
---
<style>
    .box {
        text-align: center;
    }

    .box > h2.title.is-3 {
        margin-top: 0;
        margin-bottom: 0.25rem;
        text-align: center;
    }

    h2.title.is-3 {
        text-align: center;
    }

    .welcome-text {
        margin: 0 auto 2rem;
        max-width: 48rem; // 768px
    }

    .welcome-text > p {
        margin-bottom: 1rem;
        text-align: justify;
    }
</style>
<ComponentLayout title={title}>
  <section class="welcome-text">
    <p>
      The Crown Prince has done the impossible: a road now traverses the
      once-impassable mountains at the western edge of the kingdom, opening
      a gateway to a mysterious and unexplored land. Known only as the
      &ldquo;western frontier,&rdquo; this vast and enigmatic wilderness is filled with
      towering trees, hidden glades, and shadowed depths. Rumors of ancient
      treasures and bizarre creatures spread quickly across the Known World,
      drawing the bold and the brave to answer the prince&rsquo;s call for
      adventurers.
    </p>
    <p>
      But be warned&mdash;the western frontier is no mere backwater. By day,
      it may seem like a land of promise, ripe for exploration and riches.
      By night, however, strange dangers stir beneath the boughs. While
      some who brave the darkness return with tales of terror, others are
      not so lucky. On occasion, adventurers disappear without a trace, or
      worse&mdash;they come back changed, haunted by something unseen, their
      minds never quite the same. Will you rise to the challenge and uncover
      the secrets of the forest? Or will the frontier claim you as one more
      lost soul? The call has gone out. The road is open. Will you step into
      the unknown?
    </p>
  </section>
  <h2 class="title is-3">Ready to get started?</h2>
  <section class="columns">
    <div class="column is-one-third">
      <div class="box">
        <h2 class="title is-3">Heritage</h2>
        <p>
          Check out Ancestries and Cultures to choose your character&rsquo;s heritage.
        </p>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="box">
        <h2 class="title is-3">Class</h2>
        <p>
          Check out Playable Classes and Subclasses to select your character&rsquo;s class.
        </p>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="box">
        <h2 class="title is-3">Goals</h2>
        <p>
          You can set Goals for your character either before selecting their heritage and class or after.
        </p>
      </div>
    </div>
  </section>
  <h2 class="title is-3">Player&rsquo;s Reference</h2>
  <section class="columns">
    <div class="column is-one-third">
      <div class="box">
        <h2 class="title is-3">Setting</h2>
        <p>
          Learn about the <a href="/setting/known-world">Known World</a>, whence you hail, and Baruun Khil, the western frontier where you&rsquo;re headed.
        </p>
      </div>
      <div class="box">
        <h2 class="title is-3">Maps</h2>
        <p>
          View <a href="/setting/known-world">a map of the Known World</a> or see how much of Baruun Khil has been explored by the heroes.
        </p>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="box">
        <h2 class="title is-3">House Rules</h2>
        <p>
          Second, no matter what happens, pretend that you intended all along for everything to unfold the way it did.
        </p>
      </div>
      <div class="box">
        <h2 class="title is-3">Supplements</h2>
        <p>
          Third, if you’re not sure what to do next, feign illness, end the session early, and plot your next move.
        </p>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="box">
        <h2 class="title is-3">NPCs</h2>
        <p>
          First, always keep a straight face and say OK no matter how ludicrous or doomed the players’ plan of action is.
        </p>
      </div>
    </div>
  </section>
  <RestrictedContent>
    <h2 class="title is-3">GM&rsquo;s Reference</h2>
    <section class="columns">
      <div class="column is-one-third">
        <div class="box">
          <h2 class="title is-3">Regions</h2>
          <p>
            View <a href="/regions">the list of regions</a>. Each region includes links to its individual hexes.
          </p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <h2 class="title is-3">Floating Clues</h2>
          <p>
            When all else fails, roll a bunch of dice behind your screen, study them for a moment with a look of deep concern mixed with regret...
          </p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <h2 class="title is-3">Rumors</h2>
          <p>
            ...let loose a heavy sigh, and announce that Tiamat swoops from the sky and attacks.
          </p>
        </div>
      </div>
    </section>
  </RestrictedContent>
</ComponentLayout>
