---
import Layout from '../layouts/Layout.astro';
import HiddenContent from '../components/HiddenContent.astro';
import { SECURITY_ROLE } from '../utils/constants';

const title = 'Beyond the Skyreach Mountains';
---
<style>
    h2.title.is-3 {
        margin-top: 0;
        margin-bottom: 0.25rem;
        text-align: center;
    }

    .box {
        text-align: center;
    }
</style>
<Layout title={title}>
  <section class="section">
    <div class="container is-max-desktop">
      <h1 class="title is-2">{title}</h1>
      <div class="columns">
        <div class="column is-one-third">
          <div class="box">
            <h2 class="title is-3">Hex Catalog</h2>
            <p>
              You can browse the <a href="/hexes">Hex Catalog</a>.
            </p>
          </div>
          <div class="box">
            <h2 class="title is-3">GM&rsquo;s Notes</h2>
            <p>
              If you're the GM, you can view <a href="gm-notes">your notes</a>.
            </p>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="box">
            <h2 class="title is-3">Regions</h2>
            <p>
              You can also view <a href="/regions">the list of regions</a>. Each region includes links to its individual hexes.
            </p>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="box">
            <h2 class="title is-3">NPCs</h2>
            <p>
              There are <a href="/npcs">NPCs</a> for your viewing pleasure.
            </p>
          </div>
        </div>
      </div>
    </div>
    <HiddenContent role={SECURITY_ROLE.GM} />
  </section>
</Layout>
