---
import region2Hexes from '../../data/region-2-hexes.yml';
import region6Hexes from '../../data/region-6-hexes.yml';
import region7Hexes from '../../data/region-7-hexes.yml';
import region8Hexes from '../../data/region-8-hexes.yml';
import region9Hexes from '../../data/region-9-hexes.yml';
import region12Hexes from '../../data/region-12-hexes.yml';
import region15Hexes from '../../data/region-15-hexes.yml';
import region16Hexes from '../../data/region-16-hexes.yml';
import region17Hexes from '../../data/region-17-hexes.yml';
import region18Hexes from '../../data/region-18-hexes.yml';
import region19Hexes from '../../data/region-19-hexes.yml';
import region20Hexes from '../../data/region-20-hexes.yml';
import region23Hexes from '../../data/region-23-hexes.yml';
import region22Hexes from '../../data/region-22-hexes.yml';
import region24Hexes from '../../data/region-24-hexes.yml';
import region25Hexes from '../../data/region-25-hexes.yml';
import region26Hexes from '../../data/region-26-hexes.yml';
import region27Hexes from '../../data/region-27-hexes.yml';
import region28Hexes from '../../data/region-28-hexes.yml';
import Hex from '../components/Hex.astro';
import Layout from '../layouts/Layout.astro';
import type { HexData, HexDatabase } from '../types';

const hexes: HexDatabase = region2Hexes
  .concat(
    region6Hexes,
    region7Hexes,
    region8Hexes,
    region9Hexes,
    region12Hexes,
    region15Hexes,
    region16Hexes,
    region17Hexes,
    region18Hexes,
    region19Hexes,
    region20Hexes,
    region22Hexes,
    region23Hexes,
    region24Hexes,
    region25Hexes,
    region26Hexes,
    region27Hexes,
    region28Hexes,
  )
  .sort((a: HexData, b: HexData) => a.id.localeCompare(b.id))
  .filter((hex: HexData) => !hex.hideInCatalog);
const title = 'Baruun Khil Hex Catalog';
---
<style is:global>
    h1, h2, h3, h4, h5, h6 {
        font-family: "Souvenir", serif;
        margin-top: 1rem;
        margin-bottom: 0.125rem;
    }

    p {
        margin-left: 1rem;
        text-indent: -1rem;
        margin-bottom: 0;
        margin-top: 0;
    }

    ul {
        padding-inline-start: 2rem;

        li {
            padding-left: 0;
            text-indent: 0;
        }
    }

    .inline-heading {
        font-weight: bold;
    }

    /* Declare a custom CSS class to make the icon look right */
    .svg-inline--fa {
        overflow: visible;
        box-sizing: content-box;
        display: inline-block;
        height: 1em;
        vertical-align: -0.125em;
    }

    @media print {
        @page {
            size: letter portrait;
            margin: 0.5in;
        }

        body {
            font-size: 12pt;
            hyphens: auto;
            line-height: 1.15;
        }

        h1 {
            font-size: 36pt;
            margin-bottom: 12pt;
        }

        h2 {
            font-size: 15pt;
            margin-bottom: 6pt;
            page-break-after: avoid;
        }

        .keep-with-next {
            page-break-after: avoid;
        }
    }
</style>

<style>
    h1 {
        margin-top: 0;
        text-align: center;
    }

    @media print {
        main {
            columns: 2;
            column-fill: auto;
        }
    }
</style>

<Layout title={title}>
  <h1>{title}</h1>
  <main>
    {
      hexes.map((hex: HexData) =>
        <Hex hex={hex} />)
    }
  </main>
</Layout>
