---
import { getCollection } from 'astro:content';
import LootPackSummary from '../../../components/LootPacks/LootPackSummary.astro';
import ComponentLayout from '../../../layouts/ComponentLayout.astro';
import { ROUTES } from '../../../utils/routes';

const treasureData = await getCollection('loot-packs');
const treasures = treasureData
  .map((t) => t.data)
  .sort((a, b) => a.name.localeCompare(b.name));
---
<ComponentLayout title="Treasure">
  {treasures.map((treasure) => (
    <LootPackSummary treasure={treasure} />
  ))}
  <p style="margin-top: 2rem">See <a href={ROUTES.sessionToolkit.lootPacks.all}>all treasure</a> on one page.</p>
</ComponentLayout>
