---
import { SignedIn, SignedOut, SignInButton, UserButton } from '@clerk/astro/components';
import { library, icon } from '@fortawesome/fontawesome-svg-core';
import { faMountainSun } from '@fortawesome/pro-light-svg-icons';

library.add(faMountainSun);
const skyreachIcon = icon(faMountainSun);
---
<style>
    .clerk-icon {
        padding-right: 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .clerk-icon {
            padding-right: 0.75rem;
        }
    }

    @media screen and (min-width: 768px) {
        .navbar {
            display: flex;
            align-items: center;
        }

        .navbar-end {
            justify-content: flex-end;
            margin-inline-start: auto;
        }
    }
</style>
<div class="container is-max-desktop">
  <nav class="navbar" role="navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <Fragment set:html={skyreachIcon.html} />
        Beyond the Skyreach Mountains
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item clerk-icon">
        <SignedOut>
          <SignInButton mode="modal" />
        </SignedOut>
        <SignedIn>
          <UserButton />
        </SignedIn>
      </div>
    </div>
  </nav>
</div>
