---
import { getEntry } from 'astro:content';

interface Props {
  rumorId: string;
}

const { rumorId } = Astro.props;

const rumorEntry = await getEntry('rumors', rumorId);
if (!rumorEntry) {
  throw new Error(`Rumor with ID ${rumorId} not found`);
}
---
<a href={`/gm-notes/rumors/${rumorId}`}>{rumorEntry.data.title}</a>
