---
import { formatText } from '../utils/text';
import { startCase, toLower } from 'lodash-es';
interface Props {
  rumor: RumorData;
  isSubcomponent?: boolean;
}

const { rumor, isSubcomponent = false } = Astro.props;
---
<div>
  <p class="hanging-indent"><span class="inline-heading">Description:</span>
    {' '}
    <Fragment set:html={formatText(rumor.description)} />
  </p>
  <p class="hanging-indent"><span class="inline-heading">Status:</span>
    {' '}
    <Fragment set:html={startCase(toLower(rumor.status))} />
  </p>
  {rumor.notes && (
    <p class="hanging-indent"><span class="inline-heading">Notes:</span></p>
    <ul>
      {rumor.notes.map((note) => (
        <li>
          <Fragment set:html={formatText(note)} />
        </li>
      ))}
    </ul>
  )}
</div>
