---
import { renderMarkdown } from '../../utils/markdown';
import type { TreasureData } from '../../types';

interface Props {
  treasure: TreasureData;
}

const { treasure } = Astro.props;
---
<div><Fragment set:html={renderMarkdown(treasure.description)} /></div>
<div><Fragment set:html={renderMarkdown(treasure.treasure)} /></div>
