---
import { getCollection } from 'astro:content';
import TreasureSummary from '../../../components/Treasure/TreasureSummary.astro';
import ComponentLayout from '../../../layouts/ComponentLayout.astro';

const treasureData = await getCollection('treasure');
const treasures = treasureData
  .map((t) => t.data)
  .sort((a, b) => a.name.localeCompare(b.name));
---
<ComponentLayout title="Treasure">
  {treasures.map((treasure) => (
    <TreasureSummary treasure={treasure} />
  ))}
  <p style="margin-top: 2rem">See <a href="/session-toolkit/treasure/all">all treasure</a> on one page.</p>
</ComponentLayout>
