---
import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';
import StatBlock from '../../components/StatBlock/StatBlock.astro';
import { renderMarkdown } from '../../utils/markdown';
import { formatText } from '../../utils/text';
import type { RandomEncounterData } from '../../types';

export async function getStaticPaths() {
  const encounters = await getCollection('encounters');
  return encounters.map(encounter => ({
    params: { id: encounter.id },
    props: { encounter: encounter }
  }));
}

const encounter: RandomEncounterData = Astro.props.encounter.data;
const statBlocks = await getCollection('statBlocks');
const title = `Encounter: ${await formatText(encounter.name)}`;
---
<style is:global>
    strong.inline-heading {
        color: var(--bulma-strong-color)
    }
</style>
<style>
    .description {
        p:not(:first-child) {
            text-indent: var(--skyreach-standard-indent);
        }
    }

    .stat-block-container section:not(:last-child) {
        border-bottom: 1px solid var(--bulma-body-color);
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
</style>
<Layout title={title}>
  <section class="section">
    <div class="container is-max-desktop">
      <h1 class="title is-2">{title}</h1>
      <div class="description">
        <Fragment set:html={ renderMarkdown(encounter.description) } />
      </div>
      <div class="stat-block-container">
        {encounter.statBlocks.map((statBlockId: string) => {
          const statBlock = statBlocks.find(statBlock => statBlock.id === statBlockId);
          if (!statBlock) {
            throw new Error(`Stat block not found: ${statBlockId}`);
          }
          return <StatBlock data={statBlock.data} />;
        })}
      </div>
    </div>
  </section>
</Layout>
