---
import { getCollection } from 'astro:content';
import FloatingClue from '../../../../components/FloatingClue.astro';
import SecretLayout from '../../../../layouts/SecretLayout.astro';

const cluesData = await getCollection('floatingClues');
const clues = cluesData.sort((a, b) => a.data.name.localeCompare(b.data.name));
const title = 'Floating Clues';
---
<style>
    .all-articles {
        margin-top: 2rem;
    }
</style>
<SecretLayout title={title}>
  {clues.map((clue) => <FloatingClue clue={clue.data} />)}
  <p class="all-articles">View <a href="all">all clues</a> in one page.</p>
</SecretLayout>
