---
import { icon, library } from '@fortawesome/fontawesome-svg-core';
import { faEyeEvil } from '@fortawesome/pro-light-svg-icons';
import { getEntry } from 'astro:content';
import ArticleLayout from '../../layouts/ArticleLayout.astro';
import { renderMarkdown } from '../../utils/markdown';
import SecretContent from '../../components/Content/SecretContent.astro';

const article = await getEntry('articles', 'western-frontier');
if (!article) {
  throw new Error('Article not found');
}
const { title } = article.data;

library.add(faEyeEvil);
const evilEye = icon(faEyeEvil);
---
<ArticleLayout title={title}>
  <SecretContent>
    <div class="box callout">
      <Fragment set:html={evilEye.html} />
      See the <a href="western-frontier-gms-notes">GM&rsquo;s section</a> for this article.</div>
  </SecretContent>
  <article>
    <Fragment set:html={renderMarkdown(article.body ?? '')} />
  </article>
</ArticleLayout>
