---
import { icon } from '@fortawesome/fontawesome-svg-core';
import { faSquare, faSquareCheck } from '@fortawesome/pro-light-svg-icons';

import type { HexData } from '../../types';

interface Props {
  hex: HexData;
}

const { hex } = Astro.props;

const squareIcon = icon(faSquare);
const squareCheckIcon = icon(faSquareCheck);
const exploredIcon = hex.isExplored ? squareCheckIcon : squareIcon;
---
{hex.hiddenSites && hex.hiddenSites.length > 0 ? (
  <div>
    Explored:{' '}
    <Fragment set:html={exploredIcon.html} />
  </div>
) : null}
