---
import { canAccess, getCurrentUserRole } from '../../utils/auth';
import { SCOPES } from '../../utils/constants';
import { renderBulletMarkdown } from '../../utils/markdown';

import type { HexData } from '@skyreach/schemas';

interface Props {
  hex: HexData;
}

const { hex } = Astro.props;

const role = getCurrentUserRole(Astro.locals);
if (canAccess(role, [SCOPES.PLAYER, SCOPES.PUBLIC]) && !hex.isVisited) {
  return null;
}

const text =
  typeof hex.landmark === 'string' ? hex.landmark : hex.landmark.description;
---

<div class="hanging-indent">
  <span class="inline-heading">Landmark:</span>{' '}
  <Fragment set:html={renderBulletMarkdown(text)} />
</div>
