---
import Row from './Row.astro';

import type { CharacterData } from '../../types';

interface Props {
  characters: CharacterData[];
}

const { characters } = Astro.props;
---

<style>
  :root {
    --skyreach-table-inactive: #666;
  }

  table {
    border-spacing: 0;
    margin: 1rem auto 0;
  }
</style>
<table>
  <tbody>
    {characters.map((character) => <Row character={character} />)}
  </tbody>
</table>
