---
import type { CharacterData } from '../../types';
import Row from './Row.astro';

interface Props {
  characters: CharacterData[];
}

const { characters } = Astro.props;
---
<style>
    table {
        border-spacing: 0;
        margin-top: 1rem;
    }
</style>
<table>
  <tbody>
    {characters.map((character) => <Row character={character} />)}
  </tbody>
</table>
