---
import type { CharacterData } from '../../types';

interface Props {
  character: CharacterData;
}

const { character } = Astro.props;
---
<div class="subgrid two-cols">
  <div>Combat:</div><div>{character.advancementPoints.combat}</div>
  <div><abbr title="Exploration and Discovery">Exploration</abbr>:</div><div>{character.advancementPoints.exploration}</div>
  <div><abbr title="Social Interaction">Social</abbr>:</div><div>{character.advancementPoints.social}</div>
</div>
