---
import type { CharacterData } from '../../types';
import CharacterName from './CharacterName.astro';
import LevelProgress from './LevelProgress.astro';
import ProgressTotals from './ProgressTotals.astro';

interface Props {
  characters: CharacterData[];
}

const { characters } = Astro.props;
---
<style>
    table {
        border-spacing: 0;
        margin-top: 1rem;
    }

    tr {
        border-bottom: 1px solid var(--bulma-border);
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    tr:first-child {
        border-top: 1px solid var(--bulma-border);
    }
</style>
<table>
  <tbody>
  {characters.map((character) => (
    <tr>
      <td>
        <CharacterName character={character} />
      </td>
      <td>
        <ProgressTotals character={character} />
      </td>
      <td>
        <LevelProgress character={character} level={character.level+1} />
      </td>
      <td>
        <LevelProgress character={character} level={character.level+2} />
      </td>
    </tr>
  ))}
  </tbody>
</table>
