---
import ProgressIcons from './ProgressIcons.astro';
---
<style is:global>
    .row {
        display: flex;
        align-items: center;
    }

    .row > div {
        margin-right: 0.5rem;
    }

    .row > div.pillar-name {
        min-width: 100px;
        text-align: right;
        margin-right: 3px;
    }
</style>
<div class="row">
  <div class="pillar-name">Combat:</div>
  <div>1</div>
  <ProgressIcons />
  <ProgressIcons />
</div>
<div class="row">
  <div class="pillar-name">Exploration:</div>
  <div>1</div>
  <ProgressIcons />
  <ProgressIcons />
</div>
<div class="row">
  <div class="pillar-name">Social:</div>
  <div>1</div>
  <ProgressIcons />
  <ProgressIcons />
</div>
