---
import { library, icon } from '@fortawesome/fontawesome-svg-core';
import { faDiceD20 } from '@fortawesome/pro-light-svg-icons';

library.add(faDiceD20);
const progressIcon = icon(faDiceD20, { classes: ['fa-lg'] });
---
<style is:global>
    .fa-lg {
        height: 2rem;
    }

    .ap-earned {
        color: hotpink;
    }

    .ap-needed {
        color: #666;
    }
</style>
<div class:list={'ap-earned'}>
  <Fragment set:html={progressIcon.html} />
</div>
<div class:list={'ap-needed'}>
  <Fragment set:html={progressIcon.html} />
</div>
