---
import type { CharacterData } from '../../types';
import ProgressTotals from './ProgressTotals.astro';
import LevelProgress from './LevelProgress.astro';
import CharacterName from './CharacterName.astro';

interface Props {
  character: CharacterData;
}

const { character } = Astro.props;
---
<style is:global>
    .subgrid {
        display: grid;
        gap: 0.25rem 0.5rem;
        grid-template-rows: min-content;
    }

    .subgrid.two-cols {
        grid-template-columns: auto auto;
    }

    .subgrid.four-cols {
        grid-template-columns: auto auto auto auto;
    }

    .subgrid.six-cols {
        grid-template-columns: auto auto auto auto auto auto;
    }
</style>
<style>
    tr {
        border-bottom: 1px solid var(--bulma-border);
    }

    tr:first-child {
        border-top: 1px solid var(--bulma-border);
    }

    td {
        padding: 0.5rem 0.25rem;
    }
</style>
<tr>
  <td>
    <CharacterName character={character} />
  </td>
  <td>
    <ProgressTotals character={character} />
  </td>
  <td>
    <LevelProgress character={character} level={character.level+1} />
  </td>
  <td>
    <LevelProgress character={character} level={character.level+2} />
  </td>
</tr>
