---
import { renderBulletMarkdown } from '../../utils/markdown';

interface Props {
  sites: string[];
}

const { sites } = Astro.props;
---

<style>
  ul {
    margin-top: 0;
  }
</style>

{
  sites.length === 1 ? (
    <div class="hanging-indent">
      <span class="inline-heading">Hidden Site:</span>{' '}
      <Fragment set:html={renderBulletMarkdown(sites[0])} />
    </div>
  ) : (
    <>
      <div>
        <span class="inline-heading keep-with-next">Hidden Sites:</span>
      </div>
      <ul>
        {sites.map((site: string) => (
          <li>
            <Fragment set:html={renderBulletMarkdown(site)} />
          </li>
        ))}
      </ul>
    </>
  )
}
