---
import { getHexNeighbors } from '@achm/core';
import { loadMapConfig } from '@achm/data';

import type { HexData } from '@achm/schemas';

interface Props {
  hex: HexData;
}

const { hex } = Astro.props;
const mapConfig = loadMapConfig();
const neighbors = getHexNeighbors(hex.id, mapConfig.grid.notation, mapConfig);
---

<div>Neighbors:</div>
{
  neighbors.map((neighbor) => (
    <div>
      <a href={`/session-toolkit/hexes/${neighbor.toLowerCase()}`}>
        {neighbor}
      </a>
    </div>
  ))
}
