---
import { getHexNeighbors } from '@achm/core';

import type { HexData } from '@achm/schemas';

interface Props {
  hex: HexData;
}

const { hex } = Astro.props;
const neighbors = getHexNeighbors(hex.id);
---

<div>Neighbors:</div>
{
  neighbors.map((neighbor) => (
    <div>
      <a href={`/session-toolkit/hexes/${neighbor.toLowerCase()}`}>
        {neighbor}
      </a>
    </div>
  ))
}
