---
import Layout from './BaseLayout.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;

---
<slot name="head">
  <link rel="stylesheet" href="/article.css" />
</slot>
<Layout title={title}>
  <section class="section">
    <div class="container is-max-desktop">
      <h1 class="title is-2">{title}</h1>
      <slot />
    </div>
  </section>
</Layout>
