---
import { SignedIn, SignedOut, UserButton, SignInButton } from '@clerk/astro/components'
import { library, icon } from '@fortawesome/fontawesome-svg-core';
import { faMountainSun } from '@fortawesome/pro-light-svg-icons';

interface Props {
  title: string;
}

const { title } = Astro.props;
library.add(faMountainSun);
const skyreachIcon = icon(faMountainSun);

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
		/>
		<link rel="stylesheet" href="/fonts.css" />
		<link rel="stylesheet" href="/global-styles.css" />
	</head>
	<body>
		<div class="container is-max-desktop">
			<nav class="navbar" role="navigation">
				<div class="navbar-brand">
					<a class="navbar-item" href="/">
						<Fragment set:html={skyreachIcon.html} />
						Beyond the Skyreach Mountains
					</a>
				</div>
				<div class="navbar-end">
					<div class="navbar-item" style="padding-right: 0">
						<SignedOut>
							<SignInButton mode="modal" />
						</SignedOut>
						<SignedIn>
							<UserButton />
						</SignedIn>
					</div>
				</div>
			</nav>
		</div>
		<slot />
	</body>
</html>
