---
import CharacterName from './CharacterName.astro';
import ProgressMeters from './ProgressMeters.astro';

import type { CharacterData } from '@achm/schemas';

interface Props {
  character: CharacterData;
}

const { character } = Astro.props;
---

<style is:global>
  .subgrid {
    display: grid;
    gap: 0.25rem 0.5rem;
    grid-template-rows: min-content;
  }

  .subgrid.two-cols {
    grid-template-columns: auto auto;
  }

  .subgrid.four-cols {
    grid-template-columns: auto auto auto auto;
  }

  .subgrid.six-cols {
    grid-template-columns: auto auto auto auto auto auto;
  }
</style>
<style>
  tr {
    border-bottom: 1px solid var(--bulma-border);
  }

  tr:first-child {
    border-top: 1px solid var(--bulma-border);
  }

  td {
    padding: 0.5rem 0.25rem;
  }
</style>
<tr>
  <td>
    <CharacterName character={character} />
  </td>
  <td>
    <ProgressMeters character={character} />
  </td>
</tr>
