:root {
  --skyreach-heading-margin-bottom: 0.25rem;
  --skyreach-standard-indent: 1rem;
}

/* --- CUSTOM STYLES --- */

html {
  text-wrap: pretty;
  orphans: 2;
  widows: 2;
}

blockquote {
  font-style: italic;
  border-left: 4px solid var(--bulma-text);
  padding-left: 1rem;
  margin: 1rem 0;
}

blockquote p {
  margin-bottom: 1rem;
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote.dramatic {
  font-style: italic;
  margin: 0 10% 1rem;
}

body {
  font-family: 'Source Serif 4', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fraunces', serif;
  margin-top: 1rem;
  margin-bottom: 0.125rem;
}

h1 {
  margin-top: 0;
  text-align: center;
}

ol {
  padding-inline-start: 2rem;
  margin-bottom: 1rem;
}

ul {
  padding-inline-start: 2rem;
  margin-bottom: 1rem;

  li {
    padding-left: 0;
  }
}

/* Remove bottom margin from nested lists */
li ul,
li ol {
  margin-bottom: 0;
}

.callout {
  /* intended to be used with the "box" CSS class */
  border: 1px solid var(--bulma-text);
  margin: 1rem 0;
  padding: 1rem;

  h2 {
    margin-top: 0;
  }

  ol, ul {
    margin-bottom: 0;
  }
}

.inline-heading {
  color: var(--bulma-strong-color);
  font-weight: bold;
}

.hanging-indent {
  margin-left: var(--skyreach-standard-indent);
  text-indent: calc(-1 * var(--skyreach-standard-indent));
}

/* Multi-paragraph content with inline heading (hanging indent style) */
.inline-heading-block {
  margin-left: var(--skyreach-standard-indent);
  text-indent: calc(-1 * var(--skyreach-standard-indent));

  > .inline-heading {
    display: inline;
  }

  > p:first-of-type {
    display: inline;
  }

  > p + p {
    display: block;
    margin-top: 1rem;
    text-indent: 0;
  }
}

/* Multi-paragraph content in list items */
li > p + p {
  margin-top: 1rem;
}

/* Nav Bar */

.navbar-brand {
  font-family: 'Fraunces', serif;
  font-variation-settings: 'WONK' 0, 'SOFT' 100;
  font-size: 1.5rem;
}

/* --- CHECKBOXES --- */

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border: 2px solid var(--bulma-border);
  border-radius: 3px;
  background-color: var(--bulma-scheme-main);
  cursor: pointer;
  vertical-align: middle;
  position: relative;
}

input[type='checkbox']:checked {
  background-color: var(--bulma-success);
  border-color: var(--bulma-success);
}

input[type='checkbox']:checked::after {
  content: '';
  position: absolute;
  left: 0.2em;
  top: 0;
  width: 0.3em;
  height: 0.6em;
  border: solid var(--bulma-scheme-main);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type='checkbox']:focus {
  outline: 2px solid var(--bulma-focus-ring-color, var(--bulma-link));
  outline-offset: 2px;
}

/* --- BULMA OVERRIDES --- */

.title.is-3,
.title.is-4,
.title.is-5,
.title.is-6,
.title.is-7 {
  margin-bottom: var(--skyreach-heading-margin-bottom);
}

ul {
  list-style-type: disc;
}

.box {
  border: 1px solid var(--bulma-box-color);
}

/* --- FONT AWESOME --- */

/* Declare a custom CSS class to make the icon look right */
.svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
}

/* --- PRINT STYLES --- */

@media print {
  /* BULMA TWEAKS */

  /* Hide non-printable elements */
  .navbar,
  .hero,
  .footer,
  .no-print {
    display: none !important;
  }

  /* Adjust the layout for print */
  .container {
    width: 100%;
    padding: 0;
  }

  .columns {
    display: block;
  }

  .column {
    width: 100%;
    margin-bottom: 1rem;
  }

  /* Typography adjustments for print */
  body {
    font-size: 12pt;
    line-height: 1.5;
    color: #000;
    background: #fff !important;
  }

  h1,
  h2,
  h3,
  h4 {
    color: #000;
  }

  /* Remove Bulma's box shadows and background colors for print */
  .box {
    box-shadow: none;
    background: none;
    border: 1px solid #000;
  }

  /* STYLES */

  @page {
    size: letter portrait;
    margin: 0.5in;
  }

  body {
    font-size: 12pt;
    hyphens: auto;
    line-height: 1.15;
  }

  h1 {
    font-size: 36pt;
    margin-bottom: 12pt;
  }

  h2 {
    font-size: 15pt;
    margin-bottom: 6pt;
    page-break-after: avoid;
  }

  .keep-with-next {
    /* This doesn't work as expected */
    page-break-after: avoid;
  }
}
